.screen-one{ 
    position: relative;
    
    &__bg { 
        position: relative;
        width: 1080px;
        height: 1920px;

        background-image: url("../img/bg1.jpg");
    };

    &__outfit {
        position: absolute;

        top: 10px;
    };

    &__bubble { 
        position: absolute;

        top: 0;
    };

    &__cursor{ 
        position: absolute;
    
        top: 80%;
        right: 0;

        animation-name: cursor-on;
        animation-duration: 1000ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-iteration-count: infinite;
        animation-direction: alternate;

        z-index: 12;
    };

    @keyframes cursor-on{
        0%{
        left: 60%;
        }
        100%{
            top: 70%;
            left: 40%;
        }
    };

    &__button { 
        position: absolute;
        width: 900px;
        height: 250px; 

        background: linear-gradient(0deg, rgba(50, 205, 50, 1) 50%, rgba(127, 255, 0, 1) 100%);
        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.75);

        bottom: 25%;
        left: 8%;
        display: block;

        color: white;
        font-size: 120px;
        font-weight: 900;

        background-color: inherit;
        border-radius: 140px;
        border: none;
        cursor: pointer;
        
        animation-name: button-dance;
        animation-duration: 800ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        

        z-index: 10;
    };

    @keyframes button-dance {
        0%{
            rotate: 5deg;
            scale: 1.1;
        }
        100%{
            rotate: -5deg
        }
    };
    
    &__button--click {
        position: absolute;
        width: 1000px;
        height: 300px;

        bottom: 24%;
        right: 4%;
        display: block;


        background-color: inherit;
        border-radius: 140px;
        border: none;
        cursor: pointer;

        z-index: 100;
    };
}